/* Put your CSS here */
/* line 5, ../main.scss */
html, body {
  margin: 20px;
}

/* line 9, ../main.scss */
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

/* line 15, ../main.scss */
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

/* line 26, ../main.scss */
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

/* line 32, ../main.scss */
.questionText {
  margin: 20px 0px;
}

/* line 36, ../main.scss */
.radioButton {
  display: block !important;
  margin: 10px 0px !important;
}
