<div class='hero-unit'>
  <div class="questionText">{{questions[active].question}}</div>
  <form ng-show='questions[active].type == "multi"'>
    <label class='topcoat-radio-button radioButton' ng-repeat='answer in questions[active].answers'>
      <input type='radio' ng-click='checkRadio(answer)'>
      <div class='topcoat-radio-button__checkmark'></div>
      {{answer}}
    </label>
    <button ng-click='submitAnswer()' class='topcoat-button--large'>Next</button>
  </form>


  <form ng-show='questions[active].type == "fillin"'>
    <input type='text' class='topcoat-text-input--large oneLine' placeholder='Answer' ng-repeat='i in makeArray(questions[active].answers)'>
    <button ng-click='submitFillin()' class='topcoat-button--large'>Next</button>
  </form>
</div>
