<div class='hero-unit'>
  <div class="questionText">{{questions[active].question}}</div>
  <form ng-show='questions[active].type == "multi"' name='multiForm'>
    <label class='topcoat-radio-button radioButton' ng-repeat='answer in questions[active].answers'>
      <input type='radio' name='radio' ng-click='checkRadio(answer)'>
      <div class='topcoat-radio-button__checkmark'></div>
      {{answer}}
    </label>
    <button ng-click='submitAnswer()' class='topcoat-button--large' ng-disabled='!validAnswer'>Next</button>
  </form>


  <form ng-show='questions[active].type == "fillin"' name='fillinForm'>
    <input type='text' class='topcoat-text-input--large oneLine' placeholder='Answer' ng-repeat='i in makeArray(questions[active].answers)' required>
    <button ng-click='submitFillin()' class='topcoat-button--large' ng-disabled='!fillinForm.$valid'>Next</button>
  </form>

  <button ng-click='logout()' class='topcoat-button--quiet logout'>Logout</button>
  <button ng-click='gotoResults()' class='topcoat-button--quiet logout' ng-disabled='answered'>Results</button>
</div>
