$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 470px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 30px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.questionText {
  margin: 20px 0px;
}

.radioButton {
  display: block !important;
  margin: 10px 0px !important;
}

.oneLine {
  display: block;
  margin: 5px 0px !important;
}

.logout {
  float: right;
}

.answers {
  font-size: 14px;
  color: rgba(150, 147, 147, 0.79);
}

ul li {
  list-style: none;
}

.green {
  color: green;
}

.red {
  color: red;
}

.totalScore {
  color: #2d34d1;
  font-size: 30px;
}

pre {
  font-family: 'Source Sans', helvetica, arial, sans-serif;
}

.resultsQ {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);;
}